{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h2>Accomodation</h2>
        <br />


        <p>There are plenty of hotels near the conference venue for international delegates. The suggested hotels are:</p>
        <ul>
            <li><a target="_blank" href="http://www.zesantc.co.zw/accommodation.php">ZESA National Training Centre</a> - <strong>
                This is the conference venue.</strong></li>
            <li><a target="_blank"  href="http://www.jamesonhotel.net/">Jameson Hotel</a></li>
            <li><a target="_blank"  href="http://www.rainbowtowershotel.com">Rainbow Towers</a></li>
            <li><a target="_blank"  href="http://www.meikles.com/">Meikles Hotel</a></li>
            <li><a target="_blank"  href="http://www.crestahotels.com/hotels/cresta-oasis/">Cresta Oasis</a></li>
            <li><a target="_blank"  href="http://www.legacyhotels.co.za/en/hotels/monomotapa">Crowne Plaza</a></li>
            <li><a target="_blank"  href="http://.brontehotel.com">Brontë The Garden Hotel</a></li>
        </ul>

</div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}