{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <h2>The Big Idea</h2>

        <p>PyConZim is aimed at:</p>
            <ul>
                <li><p>nurturing the skills of local software developers</p></li>
                <li><p>supporting and encouraging the formation of local open source development communities</p></li>
                <li><p>helping equip Zimbabwe with a skillset that will enable it to build and maintain sustainable local
                    IT infrastructures</p></li>
                <li><p>helping establish open source software as an obvious choice for African agencies and the foreign
                    donor community and to establish it as a sustainable annual event.</p></li>
            </ul>

        <br />

        <h2>Conference format</h2>

        <p>The conference is modeled around traditional <a target="_blank" href="http://pycon.org">PyCons</a> held around the world.
        The conference will include:</p>
        <ul>
            <li><p>talks</p></li>
            <li><p>workshops and tutorials</p></li>
            <li><p>code sprints</p></li>
            <li><p>the community</p></li>
        </ul>

        <br />

        <h2>Objectives</h2>

        <p>Through the conference:</p>

        <p>local people of all levels of skill, including developers, students and children:</p>

        <ul>
            <li><p>will have been introduced to new:</p>
                <ul>
                    <li><p>ideas</p></li>
                    <li><p>skills, techniques, knowledge</p></li>
                    <li><p>communities</p></li>
                </ul>
            </li>
            <li><p>will have been introduced to active participation in some of the world’s largest open source software</li>
            <li><p>will have formed communities and networks</p></li>
            <li><p>members of the international Python community will have established contact and formed connections with
                members of the local community projects</p></li>
            </ul>

    </div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}
