{% extends "website/base_two.html" %}

{% block content %}

    <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h2>{{ message }}</h2>
        <br />
        <p>PyCon Zimbabwe 2017 took place from the 23rd to the 26th August 2017. It was held at ZESA National
            Training Centre in Belvedere, Harare, Zimbabwe. A total of 53 participants attended the conference.
        </p>
        <img src="" />
        <h3>Diversity and Financial Aid</h3>

        <p>Thanks to the PSF and GitHub diversity support, PyCon Zimbabwe 2017 managed to achieve its
            diversity goal. We had four African speakers, two male and two female, whom we gave financial aid
            to attend PyCon Zimbabwe 2017. PyCon Zimbabwe 2017 had 30 female participants and 23 male
            participants in total, which we believe is a record for a tech conference to have
            more female participants than male participants!</p>
        <img src="" />
        <p>
            While this was due to Django Girls Harare workshop which brought female attendees and coaches to the
        conference, we still celebrate this milestone. Our male participants were lower in 2017 due to
        limited financial assistance programme for local attendees as speakers got more priority. Also the
        increased number of African speakers who got funded meant that less local attendees would get to come
        on free tickets.
        </p>

        <p>Low ticket sales still remains a problem for PyCon Zimbabwe as most people cannot afford to buy conference
        tickets while some do not just see the need for them to buy a ticket to attend the conference.</p>

        <h3>Talks</h3>
        <img src="" />
        <p>
           PyCon Zimbabwe 2017 featured talks and workshops which include the following:
        <ul>
            <li>So this idea of yours... - Loek van Gent</li>
            <li>Using thumbnail and dynamic captions in digital media templates - Irene Nandutu</li>
            <li>Intro to games programming in Python with Pygame - Fyeidale Edmond</li>
            <li>Deploy Django application to Heroku - Jose Machava</li>
            <li>Working with spreadsheets using Python - Vuyisile Ndlovu</li>
            <li>Avoiding a bad date and having a good time - Wendinoda Washaya</li>
            <li>Why use django and not web2py - Alison Mukoma</li>
            <li>Organizing conferences for learners: How we made it work in Namibia - Jessica Upani</li>
            <li>Python in Higher Education within Zimbabwe - Tendai Marengereke</li>
        </ul>
        … and many others.
        </p>
        <h3>Sponsors</h3>
        <p>Unlike PyCon Zimbabwe 2016, which we mainly relied on crowdfunding,  PyCon Zimbabwe was mainly sponsored
        by several global organisations. We had the Django Software Foundation as our gold and biggest
        sponsor. We also had the Python Software Foundation  and GitHub as our diversity sponsors, enabling
        us to offer financial assistance to four African speakers from Mozambique, Namibia, Uganda and
        Zambia. This was a huge improvement from 2016 where we could not offer financial assistance to
        fellow African speakers. We also had Fuzzy Brains, Nexmo, JetBrains PyCharm and PythonAnywhere as our
            bronze sponsors.</p>

        <p>We are so grateful to all our sponsors for their support and look forward to their support in 2018. </p>
        <img src="" />

        <h3>Related Posts</h3>
        <p>Several attendees wrote blog posts of their PyCon Zimbabwe 2017. You can read their stories here:</p>
        <ul>
            <li><a href="https://vuyisile.com/pycon-zim-2017/">PyCon Zimbabwe 2017</a></li>
            <li><a href="https://www.techzim.co.zw/2017/08/pycon-kicks-off-django-girls-workshop/">
                PyCon kicks off with Django Girls Workshop – teaching ladies how to code in Python
            </a></li>
            <li><a href="https://www.techzim.co.zw/2017/08/pycon-zimbabwe-day-2-artificial-intelligence-programming/">
                PyCon Zimbabwe Day 2 – Artificial intelligence, programming in Universities and organizing coding events for kids
            </a></li>
            <li><a href="http://blesschews.pythonanywhere.com/post/2/">
                How Django Girls transformed me into a confident coder
            </a></li>
        </ul>

</div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}