{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
	
	<h2><a href="https://t.co/fGSAD3Evkr" target="_blank">Ticket sales are now open!</a></h2>
<p> To register for PyCon Zimbabwe, buy your ticket <a href="#" target="_blank">here</a>. </p>

        <h2>{{ message }}</h2>
        <br />

        <p>PyCon Zimbabwe trusts you to self-select a fair registration rate:
    <ul>
        <li><p>Corporate Rate — If your company is paying for you to attend PyCon, register at the corporate rate.
        You will help keep the conference affordable for everyone, especially students and those needing financial
    aid. Government employees should also register at the corporate rate.</p></li>

        <li><p>Individual Rate — If you are paying for yourself to attend PyCon, feel free to come as an individual. Employees of
    non-profits might also choose to register at the individual rate.</p></li>

    <li><p>Student Rate — This rate is for full-time students and academics.</p></li>
    </ul>
    </p>

    <p>Here is how much each level costs for PyCon Zimbabwe 2018:</p>

    <h2>Tickets Prices</h2>
<ul class="simple">
<li><p><strong>Student</strong> -USD25 </p></li>
<li><p><strong>Individual</strong> - USD50 </p></li>
<li><p><strong>Corporate</strong> - USD100</p> </li>
</ul>


    <h2>What's Included?</h2>

    <p>Conference registration includes a full lunch, and morning break refreshments on the two conference
    days Thursday and Friday (August 23-24, 2018).</p>

    <h2>Financial Assistance</h2>
    <p>PyCon Zimbabwe is offering financial assistance programme, for those who would find it hard to afford.
    <a href="mailto:zim.pycon@gmail.com">Please talk to us</a>. We want everyone who would benefit from attending
    PyCon Zimbabwe to attend. Anyone whose attendance at PyCon Zimbabwe will help improve the Python community in
    Zimbabwe, is invited to apply.

    We will advise on when financial assistance will open soon.

    <h2>Eligibility</h2>
    <p>Anyone interested in attending PyCon Zimbabwe is eligible to apply for financial assistance.
    Grants are allocated on the basis of need, and applications will be assessed by our financial assistance panel.
    We will also be offering concessionary tickets for those who cant afford the available rates.
    Cases that will be looked upon favourably include, but are not limited to:</p>
    <ul>
        <li><p>Presenters with accepted proposals, who would otherwise not be able afford to attend the conference.</p></li>
        <li><p>Contributors to Python Open Source projects, looking to participate in the post-conference sprints.</p></li>
        <li><p>Members of Python-related user groups, looking to bring knowledge back to their local community. Members of
        groups that encourage diversity in computing and technology, including django girls, looking to bring knowledge
        back to their local community.</p></li>
        <li><p>Students interested in Python, who can contribute knowledge of Python back to their peers.</p></li>
    </ul>

</div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}