{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h2>Sprints Venue</h2>
        <br />
        <p>The sprints will be held on the 26th August 2017. We are calling for sponsors or other members of the
            community who have open source projects we can sprint on us to get in touch with us. If you have a project
        you'd like our community to contribute to please contact us at <a href="mailto:zim.pycon@gmail.com">
                zim.pycon@gmail.com</a>.</p>

        <p>We will announce the sprints venue soon.</p>
</div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}