{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <p align="justify"><strong><h4>Thank you for subscribing.</h4></strong>
Thank you for taking your time to subscribe for our newsletter and updates. We promise you we will not spam you and will
            only send communications regarding the conference.<br /> <br/> Good day.
</p>


    </div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}