{% extends "website/base_two.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h2>Conference Venue</h2>
        <br />

        <p>PyCon Zimbabwe 2018 will be held at  <a target="_blank" href="http://www.zesantc.co.zw/"> ZESA National
            Training Centre</a>.</p>
            <br />

        <center><img alt="Aerial view of HSR" src="{% static 'website/img/hsr.jpg' %}" width="80%" height="50%"/></center>

</div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}