{% extends "website/base_two.html" %}

{% block content %}

<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
        <h2>List of Accepted Talks for PyCon Zimbabwe 2017.</h2>
        <br />

        {% if accepted_talks %}
            <p>Attending to PyCon Zimbabwe? Here are some of the talks to look forward to at PyCon Zimbabwe:</p>
            {% for talk in accepted_talks %}
                <p><a href="{% url 'talks:talk_details' pk=talk.pk %}">{{ talk.title }}  - {{ talk.user.first_name }}
                    {{ talk.user.last_name }}</a></p>
            {% endfor %}
        {% else %}
            <p>We haven't accepted any talks yet. We will update this page as soon as we have closed our CFP and
                accepted submitted talks.</p>
        {% endif %}
    </div>

    <div class="col-md-1">
    </div>
</div>

{% endblock %}